<?xml version="1.0" encoding="utf-8" ?>
<root>
  
  <group name="Workshops">
    <service name="MMC" />
    <service name="ActiveMQ" />
    <service name="MySQL"/>
    <service name="ms-dev-apigtw"/>
    <service name="ms-dev-esb-01"/>
  </group>
  <group name="Mulesoft">
    <service name="invalid"/>
    <service name="ms-dev-apigtw"/>
    <service name="ms-dev-esb-01"/>
    <service name="ms-qa-esb-01"/>
    <service name="ms-prod-esb-01"/>
    <service name="ms-prod-esb-02"/>
  </group>
  <group name="Base Software">
    <service name="MMC" />
    <service name="ActiveMQ" />
    <service name="MySQL"/>
    <service name="MSSQL$SQLEXPRESS"/>
    <service name="OracleServiceXE"/>
    <service name="W3SVC"/>
  </group>
</root>